<div class="jumbotron">
<h1>Welcome to my app</h1>
<p>Learning as I go</p>
<%= link_to 'Home', root_path, class: 'btn btn-default' %>
<%= link_to 'About Me', home_about_path, class: 'btn btn-danger' %>
</div>
